/* General Styles */
body {
    background-color: #333;
    color: #fff;
}
h2 {
    color: #f39c12;
}
.navbar {
    background-color: #222;
}
.navbar-brand, .nav-link {
    color: #fff;
}
.navbar-toggler-icon {
    background-color: #fff;
}
.card {
    border-radius: 15px;
    border: 1px solid #444;
    transition: transform 0.3s ease;
}
.card-text{
    color: #000;
}

.card:hover {
    transform: scale(1.05);
}
.card img {
    border-radius: 15px;
}
.profile-img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    border: 3px solid #f39c12;
    animation: pulse 1.5s infinite;
}
@keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.1); }
    100% { transform: scale(1); }
}
.footer {
    background-color: #222;
    color: #fff;
    padding: 10px 0;
}
.footer a {
    color: #f39c12;
}
.footer .social-icons i {
    margin: 0 10px;
}
.form-control {
    border-radius: 15px;
}
